<div class="header" hidden>
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">directives</h3>
</div>
<!-- Step 1: Our first Directive -->
<div hello-world>Some Random Text that will be replaced by our directive</div>
<hr/>
<!-- step 2: multiple restrict types -->
<hello-again>Blah blah blah</hello-again>
<div class="hello-again">more pointless text</div>
<!--directive: hello-again -->
<br />
<hr/>
<br />
<!-- Step 3: using a Scope and attrubites -->
<hello-user username="John">drm</hello-user>

<div hello-user username="John">123</div>
<div hello-user username="John">123</div>
<br />

<hr/>
<br />

<!-- step 4 scope: ‘isolate’ -->
<div>
  <input type="text" ng-model="num1parent" />
  <input type="number" ng-model="num2parent" />
  <input type="number" ng-model="num3parent" />
  <p>Parent Scope @ {{num1parent}}, = {{num2parent}}, & = {{sqr(num3parent)}}</p>
<div simply-isolated numone='{{num1parent}}' numtwo='num2parent' sq="square" ></div>

</div>

<div class="footer" hidden>
  <p>♥ from the Yeoman team</p>
</div>
